



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Responsive Registration Form | CodingLab</title>
    <link th:href="@{/style/user_registration.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="banner">
    <div class="site_name">FitWise</div>
</div>
<div class="container">
    <div class="title">Registration</div>
    <div class="content">
        <!-- Form submission -->
        <form action="#" th:action="@{/user/add}" th:object="${user}" method="POST">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Name</span>
                    <input th:field="*{userName}" type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input th:field="*{userEmail}" type="text" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input th:field="*{userPassword}" type="password" placeholder="Enter your password" required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input th:field="*{userPhone}" type="number" placeholder="Enter your number" required>
                </div>
                <div class="input-box">
                    <span class="details">Age</span>
                    <input th:field="*{userAge}" type="number" placeholder="Enter your age" required>
                </div>
                <div class="input-box">
                    <span class="details">Height</span>
                    <input th:field="*{userHeight}" type="number" placeholder="Enter your height" required>
                </div>
                <div class="input-box">
                    <span class="details">Weight</span>
                    <input th:field="*{userWeight}" type="number" placeholder="Enter your weight" required>
                </div>
            </div>
            <div class="gender-details">
                <input type="radio" th:field="*{userGender}" id="dot-1" value="Male">
                <input type="radio" th:field="*{userGender}" id="dot-2" value="Female">
                <input type="radio" th:field="*{userGender}" id="dot-3" value="Unspecified">
                <span class="gender-title">Gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Prefer not to say</span>
                    </label>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>

        
    </div>
</div>
</body>
</html>
