

<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link th:href="@{/style/user_registration.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class = "banner">
      <div class = "site_name">FitWise</div>
  </div>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="#" th:action="@{/user/add}"  th:object="${user}" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name</span>
            <input field="*{u_name}" type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input field="*{u_email}" type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input field="*{u_password}" type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input name = "pswd2" type="text" placeholder="Confirm your password" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input field="*{u_phone}" type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Age</span>
            <input field="*{u_age}" type="text" placeholder="Enter your age" required>
          </div>
          <div class="input-box">
            <span class="details">Height</span>
            <input field="*{u_height}" type="text" placeholder="Enter your weight in kg" required>
          </div>
          <div class="input-box">
            <span class="details">Weight</span>
            <input field="*{u_weight}" type="text" placeholder="Enter your height in cm" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" field="*{u_gender}" value = "Male" id="dot-1">
          <input type="radio" field="*{u_gender}" value = "Female" id="dot-2">
          <input type="radio" field="*{u_gender}" value = "Unspecified" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>