<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <link rel="stylesheet" th:href="@{/style/main_home.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="banner">
    <div class="site_name">FitWise</div>
    <div class="button-container">
        <div class="button1">
            <a th:href="@{/user/register}">User Register</a>
        </div>
        <div class="button1">
            <a th:href="@{/dietician/register}">Dietician Register</a>
        </div>
    </div>
</div>
<div id="content">
    <div class="title">Welcome!</div>
    <div class="button-container">
        <div class="button">
            <a th:href="@{/trainer/login}">Trainer Login</a>
        </div>
    </div>
    <div class="button-container">
        <div class="button">
            <a th:href="@{/user/login}">User Login</a>
        </div>
    </div>
    <div class="button-container">
        <div class="button">
            <a th:href="@{/dietician/login}">Dietician Login</a>
        </div>
    </div>

    </div>
</div>
</body>
</html>
