<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Select Diet Plan</title>
  <link rel="stylesheet" href="select_diet_plan.css">
</head>
<body>
<div class="banner">
  <div class="site_name">FitWise</div>
  <div class="button-container">
      <div class="button1">
          <a href="/user/home">Home</a>
      </div>
  </div>
</div>
<form id="dietPlanForm" action="/user/selectdietplan" method="post">
    <table>
        <thead>
            <tr>
                <th>PlanType</th>
                <th>Plan Name</th>
                <th>Dietician Name</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dietplan, stat : ${dietplans}">
                <td th:text="${dietplan.planType}"></td>
                <td th:text="${dietplan.planName}"></td>
                <td th:text="${dietplan.dieticianName}"></td>
                <td><input type="radio" name="selectedDietPlanId" value="${dietplan.planId}"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" id="submitButton">Submit Selection</button>
</form>
<script src="select_diet_plan.js"></script>
</body>
</html>
