

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Select Diet Plan</title>
  <link rel="stylesheet" th:href="@{/style/select_diet_plan.css}">
</head>
<body>
<div class="banner">
  <div class="site_name">FitWise</div>
  <div class="button-container">
      <div class="button1">
          <a href="/user/home">Home</a>
      </div>
  </div>
</div>
<form id="dietPlanForm" action="/user/selectfitnessplan" method="post">
    <table>
        <thead>
            <tr>
                <th>PlanType</th>
                <th>Plan Name</th>
                <th>Duration</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            <!-- Assuming dietplans is a model attribute containing a list of diet plans -->
            <tr th:each="fitnessplan : ${fitnessplans}">
                <td th:text="${fitnessplan.planType}"></td>
                <td th:text="${fitnessplan.planName}"></td>
                <td th:text="${fitnessplan.totalDuration}"></td>
                <!-- Ensure the value attribute is set correctly -->
                <td><input type="radio" name="selectedFitnessPlanId" th:value="${fitnessplan.planId}"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" id="submitButton">Submit Selection</button>
</form>
<script src="select_diet_plan.js"></script>
</body>
</html>
