
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <link rel="stylesheet" th:href="@{/style/trainer_home.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="banner">
    <div class="site_name">FitWise</div>
    <!-- <div class="button-container">
        <div class="button1">
            <a th:href="@{/dietician/updateDieticianInfo}">Update Profile</a>
        </div>
        <div class="button2">
            <a th:href="@{/home/{type}/{name}/appointmentHistory(type=${type}, name=${name})}">Logout</a>
        </div>
    </div>  -->
</div>
<div id="content">
    <div class="title">Welcome Trainer!</div>
    <div class="button-container">
        <div class="button">
            <a th:href="@{/fitnessplan/makeFP(currentTrainer=${currentTrainer.trainerName})}">Make Fitness Plan</a>
            <!-- <a th:href="@{/fitnessplan/makeFP}">Make Fitness Plan</a> -->
        </div>
        <div class="button">
            <a th:href="@{/fitnessplan/viewfitnessplans(currentTrainer=${currentTrainer.trainerName})}">View Fitness Plan</a>
            <!-- <a th:href="@{/fitnessplan/viewfitnessplans}">View Fitness Plan</a>  -->
        </div>
    </div>
</div>
<script type="text/javascript">
    // var trainerUsername = "[[${currentTrainer}]]";
    var trainerUsername = "[[${currentTrainer.trainerName}]]";
</script>
</body>
</html>
