<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <link rel="stylesheet" th:href="@{/style/user_home.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="banner">
    <div class="site_name">FitWise</div>
    <div class="button-container">
        <div class="button1">
            <a th:href="@{/user/updateUserInfo}">Update Profile</a>
        </div>
        <div class="button2">
            <a th:href="@{/main_home}">Logout</a>
        </div>
    </div>
</div>
<div id="content">
    <div class="title">Welcome!</div>
    <div class="button-container">
        <div class="button">
            <a th:href="@{/user/selectfitnessplan}">Select Fitness Plan</a>
        </div>
        <div class="button">
            <a th:href="@{/user/selectdietplan}">Select Diet Plan</a>
        </div>
    </div>
    <div class="button-container">
        <div class="button">
            <a th:href="@{/user/viewfitnessplan}">View Fitness Plan</a>
        </div>
        <div class="button">
            <a th:href="@{/user/viewdietplan}">View Diet Plan</a>
        </div>
    </div>
</div>
</body>
</html>