
/* select_diet_plan.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #9DCEFF, #acffe7);
}

.banner {
    position: fixed; /* Fixed position to keep it at the top */
    top: 0;
    background-color: #022b3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px 40px;
    z-index: 1;
}

.site_name {
    color: #fff;
    font-size: 4ch;
}

.button-container {
    display: flex;
    align-items: center; /* Adjusted alignment */
}

.button1,
.button2 {
    height: 45px;
    margin-left: 10px;
}

.button1 a,
.button2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #022b3a, #1f7a8c);
    text-decoration: none;
}

.button1 a:hover,
.button2 a:hover {
    background: linear-gradient(-135deg, #9dceff, #acffe7);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #022b3a;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #022b3a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1f7a8c;
}
