<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form </title>
    <link rel="stylesheet" th:href="@{/style/dietician_login.css}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body> 
  <div class = "banner">
      <div class = "site_name">FitWise</div>
  </div>
  <div class="container">
    <div class="title">Dietician Login</div>
    <p th:text="${message}"></p>
    <div class="content">
      <form action="#" th:action="@{/dietician/login}" method = "POST">
        <div class="dietician-details">
          
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" th:name="email" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" th:name="password" placeholder="Enter your Password" required>
          </div>
          
        </div>
        
        <div class="button">
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>

</body>
</html>